API_BASE_URL=http://localhost:3000
WEB_BASE_URL=http://localhost:4000
BANK_API_USERNAME=your-username
BANK_API_PASSWORD=your-password
BANK_SOURCE_ACCOUNT_ID=1
BANK_TARGET_ACCOUNT_ID=2
BANK_TRANSFER_AMOUNT=100
BANK_UI_TRANSFER_AMOUNT=123.45
